@use "foundation"as *;

.c-headline01 {
  color: #3D0E01;
  font-family: var(--second-font-family);
  font-size: rem(20);
  font-weight: $bold;
  line-height: 1.2;
  letter-spacing: -0.0156em;
  padding-bottom: rem(7);
  position: relative;


  &::after {
    position: absolute;
    content: '';
    width: 100%;
    height: rem(3);
    left: 0;
    bottom: 0;
    background: var(--accent-secondary);
  }
}