@use "foundation"as *;

.p-faq {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%),
    linear-gradient(90deg, #f9fafb 0%, #f9fafb 100%);
  border-bottom: rem(1.715) solid #e5e7eb;
  padding-block: rem(30) rem(20);

  @include mq("md") {
    padding: rem(40) rem(25);
  }
}

.p-faq__headline {
  margin-top: 0;
}

.p-faq__list {
  margin-top: rem(12);
  display: flex;
  flex-direction: column;
  gap: rem(8);

  @include mq("md") {
    margin-top: rem(12);
  }
}

.p-faq__item {
  border-radius: rem(10);
  overflow: hidden;

  &+.p-faq__item {
    border-top: 1px solid #e2e2e2;
  }
}

.p-faq__trigger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: rem(8);
  padding: rem(16) 0;
  cursor: pointer;
  list-style: none;

  &::-webkit-details-marker {
    display: none;
  }

  &::-moz-list-bullet {
    list-style-type: none;
  }
}

.p-faq__trigger-text {
  margin: 0;
  font-size: rem(16);
  font-weight: $medium;
  color: #3d0e01;
  letter-spacing: -0.01em;
  line-height: 1.25;
  font-family: $base-font-family;
  flex: 1;
}

.p-faq__trigger-num {
  font-weight: $extra-bold;
  color: var(--theme);
}

.p-faq__trigger-icon {
  flex-shrink: 0;
  width: rem(16);
  height: rem(16);
  position: relative;
}

.p-faq__trigger-icon_line {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  background: #3d0e01;
  border-radius: rem(1);
  transition: transform 0.3s ease;
}

.p-faq__trigger-icon_line_h {
  width: rem(12);
  height: rem(2);
  transform: translate(-50%, -50%);
}

.p-faq__trigger-icon_line_v {
  width: rem(2);
  height: rem(12);
  transform: translate(-50%, -50%);
}

.p-faq__item[open] .p-faq__trigger-icon_line_v {
  transform: translate(-50%, -50%) rotate(90deg);
}

.p-faq__content {
  overflow: hidden;
  padding-bottom: rem(16);
  margin-left: rem(52);
}

.p-faq__content-inner {
  background-color: #f2f2f2;
  padding: rem(16);
  border-radius: rem(4);
}

.p-faq__content-text {
  font-size: rem(12);
  font-weight: $regular;
  color: #3d0e01;
  letter-spacing: 0;
  line-height: 1.6;
  font-family: $base-font-family;
  font-feature-settings: "palt";
  margin: 0;

  &+.p-faq__content-text {
    margin-top: rem(8);
  }
}

.p-faq__content-text_bold {
  font-weight: $bold;
  margin-top: rem(16);

  &:first-child {
    margin-top: 0;
  }
}

.p-faq__content-heading {
  margin: 0;
  margin-top: rem(16);
  font-size: rem(12);
  font-weight: $bold;
  color: #3d0e01;
  letter-spacing: 0;
  line-height: 1.6;
  font-family: $base-font-family;
  font-feature-settings: "palt";

  &:first-child {
    margin-top: 0;
  }
}

.p-faq__content-desc {
  margin: 0;
  margin-top: rem(8);
  font-size: rem(12);
  font-weight: $regular;
  color: #3d0e01;
  letter-spacing: 0;
  line-height: 1.6;
  font-family: $base-font-family;
  font-feature-settings: "palt";

  &+.p-faq__content-desc {
    margin-top: rem(4);
  }
}

.p-faq__content-list {
  margin-top: rem(8);
}

.p-faq__content-list-item {
  font-size: rem(12);
  font-weight: $regular;
  color: #3d0e01;
  letter-spacing: 0;
  line-height: 1.6;
  font-family: $base-font-family;
  font-feature-settings: "palt";
  position: relative;
  padding-left: rem(15);

  &+.p-faq__content-list-item {
    margin-top: rem(4);
  }

  &::before {
    position: absolute;
    content: '';
    width: rem(3);
    aspect-ratio: 1;
    height: auto;
    left: rem(5);
    top: rem(8);
    background: #3D0E01;
    border-radius: 100vh;
  }
}

.p-faq__content-list-note {
  font-size: rem(10);
}

.p-faq__content-list-text {
  font-weight: $regular;
}
