@use "foundation"as *;

.p-scratch-steps {
  background-color: #fff6f0;
  border-bottom: rem(1.715) solid #e5e7eb;
  padding-block: rem(30) rem(34);
  background: url(../img/scratch-step_bg01.png) center center / contain repeat-y;

  @include mq("md") {
    padding-block: rem(40) rem(48);
  }
}

.p-scratch-steps__headline {
  margin-top: 0;
}

.p-scratch-steps__list {
  margin-top: rem(16);
}

.p-scratch-steps__item {
  background-color: var(--white);
  border-radius: rem(10);
  box-shadow: 0 -4.77px 11.25px 0 rgba(255, 241, 199, 0.25) inset,
    0 rem(4) rem(4) 0 rgba(173, 38, 12, 0.60),
    0 rem(4) rem(8) rem(-1) #AD260C;
  padding: rem(14) rem(14) rem(16);
  border: rem(4) solid #E61E0A;
}


.p-scratch-steps__item-visual {
  margin-top: rem(12);
  margin-inline: auto;

  img {
    object-fit: contain;
    height: auto;
    width: 100%;
  }
}

.p-scratch-steps__item-visual01 {
  width: min(100%, rem(248));

  img {
    aspect-ratio: 248/128;
  }
}

.p-scratch-steps__item-visual02 {
  width: min(100%, rem(100));

  img {
    aspect-ratio: 1;
  }
}

.p-scratch-steps__item-visual03 {
  width: min(100%, rem(260));

  img {
    aspect-ratio: 247/155;
  }
}

.p-scratch-steps__item-desc {
  margin-top: rem(12);
  font-size: rem(14);
  font-weight: $regular;
  color: #3d0e01;
  letter-spacing: -0.01em;
  line-height: 1.4;
  font-family: $base-font-family;
  margin-inline: auto;
  width: fit-content;
  margin-inline: auto;
  max-width: rem(240);
}

.p-scratch-steps__btn {
  margin-top: rem(12);
}


.p-scratch-steps__arrow {
  display: flex;
  justify-content: center;
  width: rem(36);
  margin-inline: auto;
  margin-top: rem(10);

  svg {
    display: grid;
    aspect-ratio: 38/28;
    object-fit: contain;
    height: auto;
    width: 100%;
  }
}

.p-scratch-steps__note {
  border-radius: rem(10);
  border: rem(4) solid #FFE100;
  background: linear-gradient(0deg, rgba(255, 225, 0, 0.12) 0%, rgba(255, 225, 0, 0.12) 100%),
    #ffffff;
  padding: rem(8) rem(12);
  margin-top: rem(16);
}

.p-scratch-steps__note__container {
  display: flex;
  align-items: center;
  gap: rem(12);
}

.p-scratch-steps__note-text {
  font-size: rem(14);
  font-weight: $bold;
  color: var(--accent-secondary);
  letter-spacing: -0.01em;
  line-height: 1.4;
  font-family: $base-font-family;
  font-feature-settings: "palt";
}

.p-scratch-steps__note-icon {
  width: rem(29);
  flex-shrink: 0;
  aspect-ratio: 29/41;
  height: auto;
  background: url(../img/icon_caution01.svg) center center / contain no-repeat;
}