@use "foundation"as *;

.p-scratch-about {
  padding-block: rem(28) rem(40);
}

.p-scratch-about__headline {
  margin-top: 0;
}

.p-scratch-about__card {
  margin-top: rem(10);
}

.p-scratch-about__card-inner {
  position: relative;
  background-color: var(--white);
  padding: rem(16) rem(12);
  border-radius: rem(10);
  box-shadow: 0 rem(3) rem(8) rgba(226, 123, 49, 0.18);
}

.p-scratch-about__card-text {
  font-size: rem(18);
  font-weight: $extra-bold;
  color: var(--accent-secondary);
  letter-spacing: -0.022em;
  line-height: 1.33;
  font-family: var(--second-font-family);
}

.p-scratch-about__card-badge {
  position: absolute;
  width: calc(90/335*100%);
  right: rem(9);
  top: 50%;
  transform: translateY(-50%);

  img {
    aspect-ratio: 82.6/46;
    object-fit: contain;
    height: auto;
    width: 100%;
  }
}

.p-scratch-about__desc {
  margin-top: rem(10);
  font-size: rem(14);
  font-weight: $regular;
  color: #3d0e01;
  line-height: 1.4;
}

.p-scratch-about__desc_bold {
  font-weight: $bold;
}